{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link href="{{ asset('css/products.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    {% include 'forms/sweats/_filter.html.twig' %}
    
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 cards-container">
        {% for sweat_shirt in sweat_shirts %}
            <div class="col">
                <div class="card">
                    <img class="card-img" src="{{ asset('/uploads/images/' ~ sweat_shirt.img) }}" alt="{{ sweat_shirt.name }}" />
                    <div class="card-body">
                        <div class="card-texts">
                            <p class="card-name">{{ sweat_shirt.name }}</p>
                            <p class="card-price">{{ sweat_shirt.price }} €</p>
                        </div>
                        <a href="{{ path('app_sweat_show', { 'id': sweat_shirt.id }) }}">
                            <input class="card-link-to-product" type="button" value="Voir" />
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun produit trouvé</p>
        {% endfor %}
    </div>

{% endblock %}
