{% extends 'base.html.twig' %}

{% block title %}Produit {{ sweat_shirt.name }}{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link href="{{ asset('css/product.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <div class="product-container">
        <img class="product-img" src="{{ asset('/uploads/images/' ~ sweat_shirt.img) }}" alt="{{ sweat_shirt.name }}" /> 
        <div class="product-items">
            <div class="product-info">
                <div class="product-texts">
                    <p class="product.name">{{ sweat_shirt.name }}</p>
                    <p class="product-price">{{ sweat_shirt.price }} €</p> 
                </div>
                <form id="addToCart" action="" method="post">
                    <div class="product-form-group">
                        <label class="product-form-label" for="size">Taille</label><br/>
                        <select class="product-form-sizes" id="size" name="size" size="5" required>
                            {% if sweat_shirt.getStockXs > 0 %}
                                <option value="stock_xs">XS</option>
                            {% else %}
                                <option value="stock_xs" disabled>XS</option>
                            {% endif %} 
                            {% if sweat_shirt.getStockS > 0 %}
                                <option value="stock_s">S</option>
                            {% else %}
                                <option value="stock_s" disabled>S</option>
                            {% endif %} 
                            {% if sweat_shirt.getStockM > 0 %}
                                <option value="stock_m">M</option>
                            {% else %}
                                <option value="stock_m" disabled>M</option>
                            {% endif %} 
                            {% if sweat_shirt.getStockL > 0 %}
                                <option value="stock_l">L</option>
                            {% else %}
                                <option value="stock_l" disabled>L</option>
                            {% endif %} 
                            {% if sweat_shirt.getStockXl > 0 %}
                                <option value="stock_xl">XL</option>
                            {% else %}
                                <option value="stock_xl" disabled>XL</option>
                            {% endif %}
                        </select>
                    </div>
                </form>
            </div>
            {% if sweat_shirt.getStockXs != 0 and 
                sweat_shirt.getStockS != 0 and
                sweat_shirt.getStockM != 0 and
                sweat_shirt.getStockL != 0 and
                sweat_shirt.getStockXl != 0
            %}
            <input class="product-submit" type="submit" value="AJOUTER AU PANIER" form="addToCart" />
            {% else %}
            <p class="product-disabled">Ce produit est actuellement indisponible</p>
            {% endif %}
        </div>   
    </div>
    <button class="product-link">
        <a href="{{ path('app_sweat_index') }}">Retour à la liste des produits</a>
    </button>

{% endblock %}
