{% extends 'base.html.twig' %}

{% block title %}Page de connexion à Stubborn{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body_id 'login' %}

{% block main %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    
    <div class="login-container">
        <form action="{{ path('app_login') }}" method="post">
            <fieldset>
                <legend class="login-title">Se connecter</legend>
                <div class="login-group">
                    <label for="username" class="login-form-label">Nom d'utilisateur :</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="login-form-input"/>
                </div>
                <div class="login-group">
                    <label for="password" class="login-form-label">Mot de passe :</label>
                    <input type="password" id="password" name="_password" class="login-form-input"/>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="submit" value="Se Connecter" class="login-btn"/>
                <p class="login-txt-forget">
                    <a class="login-forget-password" href="">Mot de passe oublié</a>
                </p>
                <p class="login-txt-register">Pas encore inscrit ?</p>
                <button class="login-btn">
                    <a class="login-to-register" href="{{ path('app_register') }}">Créer un compte</a>
                </button>
            </fieldset>
        </form>
    </div>

{% endblock %}
